.hero-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/Hero-bg.png');
    padding: 50px 0;
}

.hero-button{
    background-color: black;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

.why-web-part{
    margin: 50px;
    background-color: rgba(13, 19, 33, 0.02);
    text-align: center;
    /* border-radius: 10px; */
}

.points{
    background-color: white;
}

.p-gradient-odd{
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.p-gradient-even{
    background: linear-gradient(to right, rgb(255, 255, 255,0), rgba(255, 255, 255));
}


.point-btn{
    background-color: white;
    color: black;
    padding: 5px 15px;
    border-color: rgba(168, 168, 168, 0.434);
}

.video-border{
    border: 1px rgba(168, 168, 168, 0.434) solid;
    border-radius: 5px;
    padding: 25px;
}

.cards{
    padding: 25px;
    height: 250px;
    width : 250px;
    border-radius: 10px;
}

.cards-link{
    color: black;
}

.title-paragraphs{
    width: 800px;
}

/* ----------------------------------------------------------------- */

/* classes */
.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-around{
    justify-content:space-around;
}


.mt-30{
    margin-top: 30px;
}

.align-items-center{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.width-80pt{
    width: 80%;
}

.mtb-15{
    margin: 15px 0;
}

.ml-20{
    margin-left: 20px;
}

.text-left{
    text-align: left;
}

.pl-25{
    padding-left: 25px;
}

.text-center{
    text-align: center;
}

.bg-black{
    background-color: black;
}

.bg-footer{
    background-color: aliceblue;
}

.g-4{
    gap: 30px;
}